* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#Container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.mobile {
    position: relative;
    height: 80vh;
    width: 40vh;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 28px 28px 56px #5a5a5a,
        -28px -28px 56px #ffffff;
}

.mobile::before {
    position: absolute;
    content: '';
    height: 12vh;
    width: 2vh;
    background: black;
    left: -2vh;
    top: 15vh;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mobile::after {
    position: absolute;
    content: '';
    height: 7vh;
    width: 2vh;
    background: black;
    right: -2vh;
    top: 17vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notch {
    height: 5vh;
    width: 23vh;
    background-color: rgb(0, 0, 0);
    margin-top: -75vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.notch::before {
    content: "";
    height: 1vh;
    width: 7vh;
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    top: 1vh;
    left: 15vh;
}

.notch::after {
    content: "";
    height: 1.2vh;
    width: 1.2vh;
    position: absolute;
    background-color: rgb(16, 4, 254);
    border-radius: 50%;
    top: 1vh;
    left: 23vh;
}

#counter {
    font-size: 80px;
    font-weight: 1000;
    margin-top: -30vh;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}

#btn-1 {
    position: absolute;
    height: 8vh;
    width: 8vh;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 8vh;
    bottom: 15vh;
    background-color: green;

}

#btn-2 {
    bottom: 15vh;
    position: absolute;
    height: 8vh;
    width: 8vh;
    border: 1px solid black;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 8vh;
    padding-bottom: 8px;
    background-color: red;
}

.option {
    font-size: 20px;
    top: 5vh;
    width: 10vh;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: black;
}

#setting-layer {
    width: 100%;
    height: 0;
    background: #000000d8;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

#setting-layer h2 {
    font-size: 30px;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    margin-top: -23vh;
    z-index: 1;
    color: #ffffff;
}
#colseset{
    font-size: 5vh;
    position: absolute;
    bottom: 3vh;
    z-index: 1;
    color: #ffffff;
}

#white {
    bottom: 10vh;
    position: absolute;
    height: 8vh;
    width: 8vh;
    border: 1px solid rgb(255, 255, 255);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 8vh;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);
}

#black {
    position: absolute;
    height: 8vh;
    width: 8vh;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 8vh;
    bottom: 10vh;
    background-color: rgb(0, 0, 0);
}
#info-layer {
    width: 100%;
    height: 0;
    background: #000000d8;
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    transition: height 0.5s;
}
#colseinfo{
    font-size: 5vh;
    position: absolute;
    bottom: 3vh;
    z-index: 1;
    color: #ffffff;
}